.main-about{display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;

        &__second-title{font-family: "Libre Baskerville", serif;
        font-size: 1.2rem;
        margin-top: 3.2rem;
        color: $color-text-light}
    }

.container {margin-top: 3rem;
    width: 85%;
    height: 65%;
	border-radius: 20px;
	position: relative;
	-webkit-transition: 1.5s ease-in-out;
	transition: 1.5s ease-in-out;
	transform-style: preserve-3d;
    -webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: relative;
	font-family: "Hind", sans-serif;
    font-size: 1.1rem;
}

.side {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 1rem 1.8rem;
	color: #fff;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	border-radius: 20px;
}
.content {
	transform: translatez(70px) scale(0.8);
	line-height: 1.3em;
}
.content h1 {
	position: relative;
    font-size: 1.7rem;
}
.content p {
	margin-top: 2.5rem;
	line-height: 2em;
}
.content h1:before {
	content: "";
	position: absolute;
	bottom: -15px;
	height: 1.5px;
	background-color: rgb(157, 157, 157);
	width: 70px;
	left: 50%;
	transform: translateX(-50%);
}
.front {
	z-index: 2;
	background-size: cover;
	background-image: url(/assets/images/about-us-background1.jpg);

}
.back {
	background-color: #333;
	transform: rotateY(180deg);
	z-index: 0;
	background-image: url(/assets/images/backbg.jpg);
    font-size: 1.3rem;
    overflow: hidden;
}
.container:hover {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.back h1 {
	margin: 0;
}

.valoracion {
    display: flex;
    flex-direction: row-reverse;
    margin: .9rem .5rem 1.3rem;  
}
.valoracion button {
    background-color: initial;
    border: 0;
    color: rgb(93, 93, 93);
    transition: 1s all;
    font-size: 1.5rem;
    
}
.valoracion button:hover {
    cursor: pointer;
    color: var(white);
    transform: rotate(360deg);
}
button:nth-child(1):hover ~ button {
    color: $color-text-light-btn;
    transform: rotate(360deg);
}
button:nth-child(2):hover ~ button {
    color: $color-text-light-btn;
    transform: rotate(360deg);
}
button:nth-child(3):hover ~ button {
    color: $color-text-light-btn;
    transform: rotate(360deg);
}
button:nth-child(4):hover ~ button {
    color: $color-text-light-btn;
    transform: rotate(360deg);
}
button:nth-child(5):hover ~ button {
    color: $color-text-light-btn;
    transform: rotate(360deg);
}

@media screen and (min-width:600px) {
    .container{width: 65%;
        height: 50%;}

    .content {margin-top: .5rem;}

    .side{padding: .7rem .1rem;
    margin: 1rem;
    font-size: 1.3rem;}

    .back{background-size: cover;
    font-size: 1.5rem;
    }

    .main-about__second-title {margin-top: 5rem;}
}

@media screen and (min-width:1000px) {
    .container{
        width: 50%;
        min-height: 42%;
        margin: 2rem;}

    .content{font-size: 1.7rem;}

    .front{background-position: center;}

    .contact-footer{margin-top: 4rem;}
}

@media screen and (max-height: 800px) {
    .side{overflow: scroll;}
}

@media screen and (max-width: 390px) {
    .container{
    width: 90%;
    height: 90%;
    margin: 2rem .3rem;}

    .side{overflow: scroll;
    font-size: 1.2rem;}

    .main-about__second-title {margin: 1rem .6rem;}

    .valoracion button{font-size: 1.1rem;}

    .front{background-position: center;}


}
