$color-bg-primary-light:#e4dbca;
$color-bg-secondary-light: #eae7e0;
$color-bg-primary-dark: #cca886;
$color-bg-secondary-dark: #a59d92;
$color-text: rgb(54, 54, 54);
$color-text-light: rgb(94, 94, 94);